/* Background */
.loginPage {
    background-image: url("../image/Main.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Main glass card */
.glassLogin {
    background: rgba(255, 255, 255, 0.18) !important;
    border: 1px solid rgba(255, 255, 255, 0.45) !important;
    border-radius: 20px !important;

    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);

    overflow: hidden !important;
}

/* Remove SimpleForm internal white backgrounds */
.glassLogin .sapUiFormResGrid,
.glassLogin .sapUiFormResGridCont,
.glassLogin .sapUiFormResGridMain,
.glassLogin .sapUiRespGrid {
    background: transparent !important;
}

/* Glass title section */
.glassLogin .sapUiFormTitle {
    background: transparent !important;
    color: white !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
}

/* Labels */
.glassLogin .sapMText {
    color: white !important;
    font-weight: 500;
}

/* Inputs */
.glassLogin .sapMInputBaseInner {
    background: rgba(255, 255, 255, 0.75) !important;
    border: none !important;
    border-radius: 8px !important;
}

/* Buttons */
.glassLogin .sapMBtnInner {
    border-radius: 8px !important;
}

/* Registation */
.Registorpage {
    background-image: url("../image/REGG.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}